*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: rgba(0, 0, 255, 0.11);
    width: 100%;
    height: 100%;

}
.main_wrap{
    
    margin:200px 22px;
}
.nav_bar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search_keyword{
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0px 15px #202020a4;
    border-radius: 5px;
}
.search_button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    font-size: 1.8rem;
    border: transparent;
    background-color: #ffff;
}
.input_search{
    height: 40px;
    width: 350px;
    border: transparent;
    padding-left: 10px;
}
.input_search:focus{
    outline: none;
}
.input_search[type="text"]{
    font-size: 1rem;
    color: #000000;   
}
.menu_button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    font-size: 1.8rem;
    border: none; 
    background-color: #ffff;
}
.right-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.cart_product{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #098a7f;
    padding: 0px 15px;
    border-radius: 25px;
}
.button-product{
    width: 40px;
    height: 40px;
    background-color: transparent;
    font-size: 1rem;
    border: transparent;
    color: #ffff;
}
.button-product-para{
    text-transform: capitalize;
    color: #ffff;
}
.checkbox_all{
    background-color: #ffff;
    padding: 0px 15px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 2px 0px 10px #202020be;
}
.checkbox_all>input{
    margin-left: 2px;
}
.input_checkbox>input[type="checkbox"]{
    transform: scale(1.5);
}
#category{
    width: 560px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 0px 10px #202020be;
    border: transparent;
    margin: 20px 5px;
}
#category:focus{
    outline: none;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
    border-radius: 20px;
    
}
table {
    width: 100%;
    border-collapse: collapse;
    /* background-color: white; */
    border-radius: 20px;
    box-shadow: 0px 0px 16px #202020be;
}
th, td { 
    padding: 8px 16px;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
}
.thead {
    background-color: #319795;
    color: white;
}
tfoot {
    background-color: #319795;
    color: white;
}

.quantity-control-left button {
    background-color: #319795;
    color: white;
    border: none;
    padding: 4px 15px;
    cursor: pointer;
}
.control-left{
    border-radius: 25px 0px 0px 25px;
}
.control-right{
    border-radius: 0px 25px 25px 0px;
}

.quantity-control-left input {
    width: 40px;
    text-align: center;
    border: 1px solid #d1d5db;
    margin: 0 4px;
}
.action-button {
    background-color: #319795;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}
.action-button i {
    font-size: 16px;
}
.rating i {
    color: #fbbf24;
}
.table{
    border-radius: 20px;
}
.th1{
    border-top-left-radius: 20px;
}
.th2{
    border-top-right-radius: 20px; 
}
.th3{
    border-bottom-left-radius: 20px;
}
.th4{
    border-bottom-right-radius: 20px;
}
.object-cover{
    width: 50px;
}
.button_layout{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px 0px;
}
.button{
    padding: 10px 25px;
    background-color: #ffff;
    border: transparent;
    box-shadow: 0px 0px 12px #202020be;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.box1{
    background-color: #319795;
    width: 20px;
    height: 20px;
    rotate: 45deg;
    position: absolute;
    left: -10px;
}
.box2{
    background-color: #319795;
    width: 20px;
    height: 20px;
    rotate: 45deg;
    position: absolute;
    right: -10px;
}